.TodoSearch {
  background: #F9FBFC;
  border-radius: 2px;
  border: 2px solid #D6E5FA;
  margin: 0 24px;
  height: 64px;
  width: calc(100% - 62px);
  font-size: 24px;
  text-align: center;
  font-family: 'Patrick Hand', cursive;
  font-weight: 400;
  color: #D77FA1;
  box-shadow: #D6E5FA;
}

.TodoSearch::placeholder {
  color: #BAABDA;
  font-family: 'Patrick Hand', 100;
  font-weight: 400;
}

.TodoSearch:focus {
  outline-color: #BAABDA;
}
